<form action="/create" method="post">
    <label for="change_file">Add a new document:</label>
    <div>
      <input name="docu_name" value="">
      <button type="submit">Create</button>
    </div>
</form>